<head>
  <title>Single Campaign Dashboard</title>
  <link href="dashboard.css" rel="stylesheet">
</head>
  
  <body>
    <div class="dashwrap">
      <div class="container">  
        <div class="row">
          <h1 class="centered">Single Campaign Dashboard</h1>
          <h3>Campaign: Logo Validation</h3>
          
          <div id="q1" style="width: 700px; height: 300px;"></div>
      	  <br/>
          <div id="q2" style="width: 700px; height: 300px;"></div>
        </div>
      </div>
    </div>
  </body>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    
    google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawAgeGenderChart);
      
      function drawAgeGenderChart() {
		var jsonData = {
		"cols":
		[
		{"id":"age_cat","type":"string","label":"Age Category"},
		{"id":"male","type":"number","label":"Male"},
		{"id":"female","type":"number","label":"Female"}
		],
		"rows":
		[
		{"c":[{"v":"18-25"},{"v":"47.0"},{"v":"52.0"}]},
		{"c":[{"v":"26-35"},{"v":"49.0"},{"v":"50.0"}]},
		{"c":[{"v":"36-45"},{"v":"54.0"},{"v":"44.0"}]},
		{"c":[{"v":"46-55"},{"v":"52.0"},{"v":"47.0"}]},
		{"c":[{"v":"56-65"},{"v":"50.0"},{"v":"48.0"}]},
		{"c":[{"v":"66+"},{"v":"51.0"},{"v":"48.0"}]}
		]};
		var data = new google.visualization.DataTable(jsonData);
		//var jsonData = $.ajax({
		//		  url: "sample1.json",
		//		  dataType:"json",
		//		  async: false
		//		  }).responseText
	  //var jsonData = google.visualization.arrayToDataTable([
      //   ['Age', 'Male (%)', 'Female (%)'],
      //    ['0-18', 35, 40],
      //    ['19-25', 57, 65],
      //    ['26-40', 41, 47],
      //    ['41+', 12, 15]
      //  ]);

        var options = {
          chart: {
            title: 'Campaign by Age and Gender'
          },
		  colors: ['#FAA52B', '#fa2ee9', '#6fcddf'],
          bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('q1'));

        chart.draw(data, options);
		
      }
      
        google.setOnLoadCallback(drawIncomeChart);
      
      function drawIncomeChart() {
		var jsonData = {"cols":
		[
		{"id":"income_cat","type":"string","label":"Income Level"},
		{"id":"pct_yes","type":"number","label":"Percent"}
		],
		"rows":
		[
		{"c":[{"v":"$0-$25k"},{"v":"56.0"}]},
		{"c":[{"v":"$25k-$50k"},{"v":"47.0"}]},
		{"c":[{"v":"$50k-$75k"},{"v":"50.0"}]},
		{"c":[{"v":"$75k-$100k"},{"v":"51.0"}]},
		{"c":[{"v":"$100k-$150k"},{"v":"49.0"}]},
		{"c":[{"v":"$150k+"},{"v":"50.0"}]}
		]};
		var data = new google.visualization.DataTable(jsonData);
		
        //var data = google.visualization.arrayToDataTable([
        //  ['Income', 'Users (%)'],
        //  ['$0-50,000', 31],
        //  ['$50,001-120,000', 52],
        //  ['$120,001+', 17],
        //]);

        var options = {
          chart: {
            title: 'Campaign by Household Income'
          },	
		  colors: ['#FAA52B', '#fa2ee9', '#6fcddf'],
          bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('q2'));

        chart.draw(data, options);
      }
      
      
    </script>