<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 centered text-muted footertext footerlink">
        <a href="mailto:info@givemytwocents.com">info@givemytwocents.com</a>
      </div>
      <div class="col-md-4 centered text-muted footertext">
        &copy; Two Cents
      </div>
      <div class="col-md-4 centered text-muted">
          <a href="http://www.facebook.com/givemy2cents"><i class="fa fa-facebook-square fa-2x fa-cog"></i></a>
          <a href="http://www.twitter.com/givemy2cents"><i class="fa fa-twitter-square fa-2x fa-cog"></i></a>
      </div>
    </div>
  </div>
</div>